<template>
  <section class="section">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-four-fifths">
            <div v-if="favorites.results && favorites.results.length">
              <movie-list :movies-list="favorites"></movie-list>
            </div>
            <div v-else>
              <p>
              </p>
              <p>"Eh ! attendez ! Doucement Doc ! Est-ce que vous essayez de me dire que ma mère...
                que j'aurais un ticket avec ma mère ?"
              </p>
            </div>
          </div>
        </div>
      </div>
  </section>
</template>

<script>
import { mapState } from 'vuex';
import MovieList from '@/components/MovieList.vue';

export default {
  name: 'Favorites',
  computed: {
    ...mapState(['favorites']),
  },
  components: {
    movieList: MovieList,
  },
  mounted() {
    this.$store.dispatch('fetchFavorites');
  },
};
</script>

<style scoped>

</style>
