<template>
  <div class="home">
    <search-bar></search-bar>
    <router-view></router-view>
  </div>
</template>

<script>
// @ is an alias to /src
import SearchBar from '@/components/SearchBar.vue';

export default {
  name: 'Home',
  components: {
    searchBar: SearchBar,
  },
};
</script>
