<template>
  <div>
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Fake Films
          </h1>
          <h2 class="subtitle">
            "C'est vrai, c'est vrai, Doc, c'est magnifique."
          </h2>
          <div style="position:absolute; display: flex;
           align-items: center; width: 100%; justify-content: center">
            <div class="subtitle" v-if="errorMessage">
              "Clint qui ?"
            </div>
          </div>

        </div>
      </div>
    </section>
    <div class="columns login">
      <div class="column is-half is-offset-one-quarter">
        <div style="margin-bottom: 15px"><img width="50"
                  src="../assets/boy.png"
                  alt="Lightweight UI components for Vue.js based on Bulma"></div>
        <b-field label="Name">
          <b-input v-model.trim="userName"></b-input>
        </b-field>
        <b-field label="password">
          <b-input type="password"
                   password-reveal
                   v-model.trim="password"
                   @keyup.native.enter="onConnexion">
          </b-input>
        </b-field>
        <div>
          <b-button @click="onConnexion">Click Me</b-button>
        </div>
      </div>
      <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
    </div>
  </div>


</template>

<script>
import {
  createRequestToken, getAccount, getSessionId, logUser,
} from '../services/api';

export default {
  name: 'Login',
  data() {
    return {
      userName: '',
      password: '',
      isLoading: false,
      errorMessage: '',
    };
  },
  methods: {
    async onConnexion() {
      if (!this.userName || !this.password) {
        this.$buefy.toast.open({
          duration: 5000,
          message: 'Là où on va, on n\'a pas besoin... de route',
          position: 'is-top',
          type: 'is-danger',
        });
        return;
      }

      this.isLoading = true;
      try {
        // eslint-disable-next-line @typescript-eslint/camelcase
        const { request_token } = await createRequestToken();
        await logUser(this.userName, this.password, request_token);

        // eslint-disable-next-line @typescript-eslint/camelcase
        this.$store.commit('UPDATE_VALUE', { name: 'token', value: request_token });

        // eslint-disable-next-line @typescript-eslint/camelcase
        const { session_id } = await getSessionId(request_token);
        // eslint-disable-next-line @typescript-eslint/camelcase
        this.$store.commit('UPDATE_VALUE', { name: 'sessionId', value: session_id });

        const account = await getAccount(session_id);
        this.$store.commit('UPDATE_VALUE', { name: 'accountId', value: account.id });


        this.$store.dispatch('fetchFavorites');
        this.$store.dispatch('fetchWatchList');

        this.$router.push('/home');
        this.isLoading = false;
        this.$store.commit('UPDATE_SEARCH_VALUE', '');
        this.$store.dispatch('fetchTrendingList');
      } catch (e) {
        // gestion des erreurs
        // console.log(e);
        this.errorMessage = 'identifiants incorrects';
        this.isLoading = false;
        this.$buefy.toast.open({
          duration: 5000,
          message: 'Identifiants incorrects',
          position: 'is-top',
          type: 'is-danger',
        });
      }
    },
  },
};
</script>

<style scoped>
  .login {
    margin-top: 10px;
  }
</style>
