<template>
  <section class="section">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-three-quarters">
          <div v-if="errorMessage && searchValue">
            {{errorMessage}}
          </div>
          <div v-else>
            <div v-if="!searchValue">"Si mes calculs sont exacts, lorsque ce petit bolide atteindra
              les 88 miles à l'heure, attends-toi à voir quelque chose qui décoiffe."
            </div>
            <div v-if="searchValue
            && moviesList && moviesList.results && !moviesList.results.length">
              Vous voulez un petit peu de l'eau ?
            </div>
            <div v-if="searchValue && moviesList.results && moviesList.results.length">
              <movie-list :movies-list="moviesList"></movie-list>
            </div>
          </div>
          <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
        </div>
        <div class="column">
          <trendings></trendings>
        </div>
      </div>
    </div>
  </section>


</template>

<script>
import { mapState } from 'vuex';
// eslint-disable-next-line import/named
import { searchMovie } from '@/services/api';
import MovieList from '@/components/MovieList.vue';
import Trendings from '@/views/Trendings.vue';
import { debounce } from 'lodash';

export default {
  name: 'Main',
  components: {
    movieList: MovieList,
    trendings: Trendings,
  },
  data() {
    return {
      moviesList: {},
      errorMessage: '',
      isLoading: false,
    };
  },
  computed: {
    ...mapState(['searchValue']),
  },
  watch: {
    async searchValue(newSearchValue, oldSearchValue) {
      this.errorMessage = '';
      if (newSearchValue) {
        this.debounceSearch();
      }
      if (!newSearchValue) {
        this.moviesList = {};
      }
    },
  },
  methods: {
    async getMovies() {
      if (!this.searchValue) {
        return;
      }
      this.isLoading = true;
      try {
        this.moviesList = await searchMovie(this.searchValue);
      } catch (e) {
        this.errorMessage = 'Films introuvables';
      } finally {
        this.isLoading = false;
      }
    },
  },
  created() {
    this.debounceSearch = debounce(this.getMovies, 1000);
  },
  mounted() {
    if (this.searchValue) {
      this.debounceSearch();
    }
  },
};
</script>

<style scoped>

</style>
