<template>
<section class="section">
  <div class="wrapper" v-if="movie">
    <div v-if="!noImage">
      <img class="image" :src="`https://image.tmdb.org/t/p/w500/${movie.poster_path}`"
           @error="noImage = true"
           alt="">
    </div>
    <div class="tile is-vertical" :class="[noImage ? 'is-10' : 'is-8']" style="margin-left: 10px">
      <article>
        <div class="tile title-wrapper buttons">
          <h1 class="title">{{movie.title}}</h1>
          <div>
            <b-button :class="[isInFavoriteList ? 'is-primary' : '']" @click="onAddToFavorites">
              {{isInFavoriteList ? 'Supprimer des favoris' : 'Ajouter aux favoris'}}
            </b-button>
            <b-button :class="[isInWatchList ? 'is-primary' : '']" @click="onAddToWatchList">
              {{isInWatchList ? 'Supprimer des films à voir' : 'Ajouter aux films à voir'}}
            </b-button>
          </div>
        </div>

        <p class="tile subtitle">Sorti le {{movie.release_date | formatDate}}</p>
        <p class="tile" style="text-align: left">{{movie.overview}}</p>
        <h2 class="card-header-title">Informations</h2>
        <p class="tile">Popularité : {{movie.popularity}}</p>
        <p class="tile">Note : {{movie.vote_average}}</p>
        <p class="tile">Nombres de votes : {{movie.vote_count}}</p>
      </article>

<!--  Creer composant video ici    -->
        <div class="video-wrapper tile" v-if="videos.results && videos.results.length">
          <div class="tile video-list" >
            <div style="text-align: right" v-for="(video, index) in videos.results" :key="index">
              <div v-on:click="onVideoClick(index)">
                <a>{{video.name}}</a>
              </div>
            </div>
          </div>
          <div class="tile">
            <youtube :video-id="videos.results[selectedVideo].key" ref="youtube"></youtube>
          </div>
        </div>


<!--  Composant video    -->


    </div>
  </div>
  <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
</section>
</template>

<script>
import { getMovie, getVideo } from '@/services/api';
import { mapGetters } from 'vuex';

export default {
  name: 'MoviePage',
  data() {
    return {
      movie: null,
      videos: [],
      selectedVideo: 0,
      isLoading: false,
      noImage: false,
    };
  },
  computed: {
    isInWatchList() {
      return !!this.$store.getters.getInWatchListById(this.movie.id);
    },
    isInFavoriteList() {
      return !!this.$store.getters.getInFavoriteListById(this.movie.id);
    },
  },
  async mounted() {
    this.isLoading = true;
    try {
      this.movie = await getMovie(this.$route.params.id);
      this.videos = await getVideo(this.movie.id);
    } catch (e) {
      // console.log(e);
    } finally {
      this.isLoading = false;
    }
  },
  methods: {
    onAddToFavorites() {
      this.$store.dispatch('addToFavorite',
        // eslint-disable-next-line @typescript-eslint/camelcase
        { media_id: this.movie.id, media_type: 'movie', favorite: !this.isInFavoriteList });
    },
    onAddToWatchList() {
      this.$store.dispatch('addToWatchList',
        // eslint-disable-next-line @typescript-eslint/camelcase
        { media_id: this.movie.id, media_type: 'movie', watchlist: !this.isInWatchList });
    },
    onVideoClick(index) {
      this.selectedVideo = index;
    },
  },
  filters: {
    formatDate(value) {
      const options = {
        weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',
      };
      return new Date(value).toLocaleDateString(undefined, options);
    },
  },
};
</script>

<style scoped>
.wrapper {
  display: flex;
}
.video-wrapper {
    display: flex;
  margin-top: 50px;
    /*justify-content: flex-end;*/
    /*align-items: flex-end;*/
}
  .video-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-right: 10px;
  }
  .title-wrapper {
    display: flex;
    justify-content: space-between;
  }
</style>
