<template>
  <section class="section">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-four-fifths">
          <div v-if="watchList.results && watchList.results.length">
            <movie-list :movies-list="watchList"></movie-list>
          </div>
          <div v-else>
            <p>
            </p>
            <p>"Eh ! attendez ! Doucement Doc ! Est-ce que vous essayez de me dire que ma mère...
              que j'aurais un ticket avec ma mère ?"
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex';
import MovieList from '@/components/MovieList.vue';

export default {
  name: 'News',
  computed: {
    ...mapState(['watchList']),
  },
  components: {
    movieList: MovieList,
  },
  mounted() {
    this.$store.dispatch('fetchWatchList');
  },
};
</script>

<style scoped>

</style>
