<template>
  <div v-if="trending.data.length" class="wrapper">
    <b-carousel :indicator-inside="false">
      <b-carousel-item v-for="(movie, i) in trending.data" :key="i">
            <span class="image cursor" v-on:click="onMovieClick(movie.id)">
              <img class="img" :src="`https://image.tmdb.org/t/p/w500/${movie.poster_path}`">
            </span>
      </b-carousel-item>
    </b-carousel>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Trendings',
  data() {
    return {};
  },
  computed: {
    ...mapState(['trending']),
  },
  methods: {
    onMovieClick(id) {
      this.$router.push(`home/movie/${id}`);
    },
  },
  mounted() {
    this.$store.dispatch('fetchTrendingList');
  },
};
</script>

<style scoped>
  .wrapper {
    /*width: 500px;*/
  }
  .cursor {
    cursor: pointer;
  }
</style>
