<template>
  <transition-group name="list" tag="p" class="movie-list columns">
    <div v-for="(movie, index) in  moviesList.results"
         :key="index" class="column is-one-quarter">
      <movie :movie="movie"></movie>
    </div>
  </transition-group>

</template>

<script>
import MovieList from '../services/api';
import Movie from './Movie.vue';

export default {
  name: 'MovieList',
  components: {
    movie: Movie,
  },
  props: {
    moviesList: {
      type: MovieList,
    },
  },
};
</script>

<style scoped>
  .movie-list {
    display: flex;
    flex-wrap: wrap;
  }
  .list-item {
    display: inline-block;
    margin-right: 10px;
  }
  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }
</style>
