<template>
  <div class="container grow" v-on:click="onMovieClick">

        <img class="image" :src="`https://image.tmdb.org/t/p/w500/${movie.poster_path}`" @error="imgUrlAlt" alt="">

    <div>
      {{movie.title}}
    </div>
  </div>
</template>

<script>
import Movie from '../services/api';


export default {
  name: 'Movie',
  props: { movie: Movie },
  methods: {
    onMovieClick() {
      this.$router.push(`/home/movie/${this.movie.id}`);
    },
    imgUrlAlt(event) {
      // eslint-disable-next-line no-param-reassign
      event.target.src = 'https://via.placeholder.com/300';
    },
  },
};
</script>

<style scoped>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  img {
    max-width: 100%;
  }
  .image {
    cursor: pointer;
    /*position: absolute;*/
    /*height: 250px;*/
  }
  .image:hover {

  }
  .grow { transition: all .2s ease-in-out; }
  .grow:hover { transform: scale(1.1); }
</style>
