<template>

  <div id="app" class="container is-fluid">

    <b-navbar>
      <template slot="brand">
        <b-navbar-item tag="router-link" :to="{ path: '/home' }">
          <img
            src="../assets/boy.png"
            alt="Lightweight UI components for Vue.js based on Bulma">
        </b-navbar-item>
      </template>
      <template slot="start">
        <b-navbar-item>
          <router-link to="/home">Accueil</router-link>
        </b-navbar-item>
        <b-navbar-item>
          <router-link to="/home/favorites">Favoris</router-link>
        </b-navbar-item>
        <b-navbar-item>
          <router-link to="/home/watch">A voir</router-link>
        </b-navbar-item>
      </template>

      <template slot="end">
        <b-navbar-item tag="div">
          <div class="">
            <b-field>
              <b-input v-model="searchValue"></b-input>
            </b-field>
          </div>
          <div class="buttons logout-wrapper">
            <a class="button is-light" @click="onLogout">
              Logout
            </a>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>

  </div>
</template>

<script>
export default {
  name: 'SearchBar',
  computed: {
    searchValue: {
      get() {
        return this.$store.state.searchValue;
      },
      set(value) {
        if (this.$router.currentRoute.name !== 'Main') {
          this.$router.push('/home');
        }
        this.$store.commit('UPDATE_SEARCH_VALUE', value);
      },
    },
  },
  methods: {
    onLogout() {
      this.$store.commit('LOGOUT');
      this.$router.push('/login');
    },
  },
};
</script>

<style scoped>
  .logout-wrapper {
    margin-left: 15px;
  }
</style>
